.container_destaques{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.filtrar{
    width: 200px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--laranja-destaque);
    color: var(--vinho);
    font-size: 1.75rem;
}

.botao{
    display: flex;
    gap: 20px;
}

.botao_lista{
    padding: 10px 40px;
    border: none;
    width: 400px;
    border-radius: 10px;
    background-color: var(--laranja-destaque);
    color: var(--vinho);
    font-size: 28px;
    text-decoration: none;
    text-align: center;

}

.container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    height: 100%;
}


@media (max-width: 1000px){
    .container_cards{
        grid-template-columns: 1fr 1fr;
    }

    .botao{
        flex-direction: column;
    }
}

@media (max-width: 640px){
    .container_cards{
        grid-template-columns: 1fr;
    }

    .botoes{
        flex-direction: column;
        gap: 20px;
    }

    .botao_lista{
        width: 200px;
        font-size: 20px;
        padding: 7px;
    }
}