.container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-claro);
}

.content{
    width: 70%;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}

.content h1{
    font-size: 4rem;
    color: var(--laranja-destaque);

}

.header{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    border-bottom: 0.1rem solid #dddddd;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
}

.rows{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}