* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-padrao);
}

:root {
    --fundo-claro: #f1f1f1;
    --fundo-escuro: #232122;
    --laranja-destaque: #FFA300;
    --vinho: #451201;
}