.banner {
    background-color: var(--fundo-claro);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.banner h1 {
    color: var(--laranja-destaque);
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 2%;
    text-align: center;
}

@keyframes myMove {
    from {top: 300px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

#hamburgueres{
    animation: myMove 1.5s;
    position: relative;
    width: 100%;
}

.content_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botoes_banner{
    display: flex;
    gap: 15px;
    margin-top: 2%;
}

#chamar{
    padding: 10px 60px;
    border: none;
    width: 300px;
    border-radius: 10px;
    background-color: var(--laranja-destaque);
    color: var(--vinho);
    font-size: 1.75rem;
}

#chamar:hover{
    opacity: 0.8;
    cursor: pointer;
}

#ver_cardapio{
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: var(--vinho);
    color: var(--laranja-destaque);
    font-size: 1.75rem;
}

#ver_cardapio:hover{
    opacity: 0.8;
    cursor: pointer;
}


/*FIM BANNER*/


.cardapio{
    gap: 20px;
    width: 100%;
    height: 180vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.titulo_cardapio{
    text-align: center;
    font-size: 6.3rem;
    font-weight: 500;
    color: var(--laranja-destaque);
    margin-bottom: 5%;
}



/*FIM CARDAPIOS*/


.destaques{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-escuro);
    width: 100%;
    height: 100vh;
}

.content_destaques{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px;
    width: 50%;
}

.direita{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#pedidos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image:url("/imgs/mais_pedidos.png");
    background-size: cover;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: white;
}

.bacon{
    background-image:url("/imgs/muito_bacon.png");
    background-size: cover;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    flex-direction: column;
}

.combos{
    background-image:url("/imgs/super_combos.png");
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    flex-direction: column;
}

#texto{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.7rem;

}

#texto_grande{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 3.125rem;
    font-weight: 500;
}

.card_destaque:hover{
    opacity: 0.8;
}



/*FIM DESTAQUES*/



.unidades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url("/imgs/unidade.jpeg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    gap: 30px;
    color: white;
}

.texto_unidades{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo_unidades{
    font-size: 3.125rem;
    font-weight: 600;
}

.lista_unidades{
    font-size: 1.563rem;
    font-weight: 250;
}

@media (max-width: 900px){
    .cardapio{
        height: 300vh;
    }
}

@media (max-width: 640px){
    .cardapio{
        height: 550vh;
    }

    .botoes_banner{
        flex-direction: column;
    }
}